@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/******* Base *******/

:root {
    --dark-blue-intro: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-feedback: hsl(219, 30%, 18%);

    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);

    --cyan-hover: hsl(176, 63%, 76%);
    --blue-hover: hsl(198, 56%, 70%);

    --white: hsl(0, 0%, 100%);

    --grey: hsl(0, 0%, 78%);
}

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue-intro);
    color: var(--white);
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul {
    list-style-type: none;
}

/******* Holy Grail Layout *******/

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 91px 1fr auto;
    grid-gap: 0;

    height: calc(100vh - 20px);
}

/******* Utilities *******/

.hidden {
    display: none;
}

/******* Header *******/

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo__img {
    width: 90px;
    margin-top: 8px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 210px;
    font-size: 0.8em;
}

.nav__link:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px var(--white);
}

/******* Main *******/

/* Buttons */

.button {
    text-align: center;
    margin: 30px auto;
    display: block;
    padding: 20px 45px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    font-size: 0.9em;
    font-weight: 700;
}

.button:hover {
    background: linear-gradient(to right, var(--cyan-hover), var(--blue-hover));
}

/* Intro */

.intro {
    margin-top: 20px;
    margin-bottom: 100px;
}

.intro__heading {
    padding: 20px;
    text-align: center;
    line-height: 1.6em;
}

.intro__description {
    padding: 0 30px;
    text-align: center;
    line-height: 1.5em;
}

.intro__link {
    width: 240px;
}

/* Benefits */

.benefits__wrapper {
    background-color: var(--dark-blue-main);
}

.benefits {
    padding-bottom: 100px;
}

.benefits__card {
    padding: 25px;
    text-align: center;
}

.benefits__icon-box {
    margin-bottom: 30px;
}

.benefits__icon {
    display: block;
    margin: 0 auto;
    height: 70px;
}

.benefits__feature {
    font-size: 1.1em;
}

.benefits__description {
    font-size: 0.9em;
    line-height: 1.6em;
}

/* Objective */

.objective__wrapper-1 {
    background-color: var(--dark-blue-main);
}

.objective {
    padding-bottom: 150px;
}

.objective__img-box {
    margin-bottom: 50px;
}

.objective__heading {
    padding: 0 25px;
}

.objective__description {
    padding: 0 25px;
    font-size: 0.9em;
    line-height: 1.6em;
}

.objective__demo {
    display: inline;
    margin: 0 25px;
    font-size: 0.9em;
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 4px;
}

.objective__demo:hover {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}


/* Feedback */

.feedback__wrapper {
    background-color: var(--dark-blue-main);
}

.feedback {
    padding-top: 9px;
    padding-bottom: 150px;
    background-image: url('../images/bg-quotes.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 40px;
}

.feedback__card {
    background-color: var(--dark-blue-feedback);
    padding: 30px 20px;
    border-radius: 3px;
    font-size: 0.8em;
    line-height: 1.6em;
    
}

.feedback__comment {
    margin: 0;
}

.feedback__comment {
    margin-bottom: 20px;
}

.author-flex-box {
    display: flex;
    align-items: center;
}

.author__img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.author__role {
    font-size: 0.7em;
}

/* Subscribe */

.subscribe__wrapper {
    background-color: var(--dark-blue-main);
}

.subscribe {
    background-color: var(--dark-blue-feedback);
    margin: 0 20px 80px;
    padding: 30px 20px 15px 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.subscribe__heading {
    font-size: 1.2em;
    font-weight: 700;
}

.subscribe__description {
    line-height: 1.6em;
    margin-bottom: 30px;
}

.subscribe__email {
    height: 60px;
}

.subscribe__error {
    font-size: 0.8em;
    color: var(--light-red);
    width: 230px;
    margin: 5px auto;
    text-align: start;
}

.error {
    margin: 0;
}

.subscribe__input {
    width: 290px;
    padding: 20px 0 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 0.8em;
}

.subscribe__input::placeholder {
    color: var(--grey);
}

.subscribe__btn {
    width: 290px;
    margin-top: 25px;
}

/* Illustrations */

.illustration-svg {
    width: 100vw;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding: 0 30px;
}

/******* Footer *******/

.footer {
    background-color: var(--dark-blue-footer) !important;
    padding: 0 25px;
    padding-top: 280px;
    margin-top: -280px;
}

.footer__logo-div {
    margin-left: 20px;
    margin-bottom: 40px;
}

.footer__logo {
    width: 170px;
}

.address {
    font-style: normal;
    line-height: 1.5em;
    margin-bottom: 70px;
}

.address__list {
    padding-left: 0;
}

.address__item {
    margin-bottom: 15px;
}

.address__logo {
    fill: var(--white);
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.address__item:first-child {
    display: flex;
}

.address__location {
    height: 35px;
    top: 0;
    width: 30px;
    flex-shrink: 0;
}

.address-text {
    padding-left: 10px;
}

.footer__list {
    padding-left: 0;
    line-height: 2.3em;
    margin-bottom: 30px;
}

.list__link:hover {
    font-weight: 700;
}

.footer__social {
    display: flex;
    margin: 70px auto 40px;
    width: 150px;
    justify-content: space-between;
}

.social__icon {
    padding: 7px;
    border: 1px solid var(--white);
    border-radius: 50%;
    fill: var(--white);
}

.social__icon:hover {
    fill: var(--cyan);
    border: 1px solid var(--cyan);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/******* Media Queries *******/

@media only screen and (min-width: 1200px) {
    body {
        margin: 0 auto;
        /* max-width: 1200px; */
    }

    /******* Header *******/

    .header__wrapper {
        padding: 50px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .logo__img {
        width: 120px;
    }

    .nav__list {
        width: 260px;
        position: relative;
        right: 25px;
        top: 5px;
    }

    /******* Main *******/

    /* Intro */

    .intro {
        padding: 40px;
        margin-bottom: 30px;
    }

    .intro__img {
        margin-bottom: 15px;
    }

    .illustration-svg {
        max-width: 600px;
    }

    .intro__heading {
        max-width: 580px;
        margin: 0 auto;
        font-size: 1.9em;
    }

    .intro__description {
        max-width: 560px;
        margin: 0 auto;
    }

    /* Benefits */

    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 900px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    /* Objective */

    .objective {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
        
        max-width: 1200px;
    }

    .objective__img-box {
        margin: auto 0;
    }

    .objective__wrapper-2 {
        margin: auto 0;
        position: relative;
        bottom: 15px;
        max-width: 560px;
    }

    .objective__heading {
        font-size: 1.9em;
        max-width: 350px;
    }

    /* Feedback */

    .feedback {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: 33% 33% 33%;
        background-size: 45px;
        background-position-x: 7px;
        background-position-y: 4px;

        margin-top: -20px;
        padding-top: 20px;
    }

    .feedback__card {
        margin: 15px;
        padding: 35px 25px;
        font-size: 0.9em;
    }

    /* Subscribe */

    .subscribe {
        margin: 0 auto;
        max-width: 870px;
        padding-top: 10px;
    }

    .subscribe__heading {
        font-size: 1.9em;
    }

    .subscribe__description {
        max-width: 650px;
        margin: 0 auto;
        font-size: 0.9em;
    }

    .subscribe__form {
        gap: 30px; 
        display: flex;
        max-width: 750px;
        margin: 0 auto;
        padding: 35px 0 15px;
    }

    .subscribe__input {
        width: 500px;
    }

    .subscribe__btn {
        margin: 0;
        width: 210px;
    }

    .button {
        padding: 20px 30px;
    }

    .subscribe__error {
        margin: 7px 30px;
    }

    /******* Footer *******/

    .footer {
        margin-top: -130px;
        font-size: 0.9em;
        padding-top: 200px;
    }

    .footer__wrapper {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 750px 140px 140px 140px;
    }

    .footer__logo-div {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .address__list {
        display: grid;
        grid-template-columns: 450px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "location phone"
            "location email-address";
        
    }

    .address__item {
        margin-bottom: 5px;
    }

    .location {
        grid-area: location;
        padding-right: 80px;
        position: relative;
        top: 10px;
    }

    .phone {
        grid-area: phone;
    }

    .email-address {
        grid-area: email-address;
    }

    .footer__social {
        margin: 20px 0 0 0;
        width: 120px;
    }
}