@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/******* Base *******/

:root {
    --dark-blue-intro: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-feedback: hsl(219, 30%, 18%);

    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);

    --cyan-hover: hsl(176, 63%, 76%);
    --blue-hover: hsl(198, 56%, 70%);

    --white: hsl(0, 0%, 100%);

    --grey: hsl(0, 0%, 78%);
}

html {
    box-sizing: border-box;
}
  
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: var(--dark-blue-main);
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

ul {
    list-style-type: none;
}

/******* Holy Grail Layout *******/

.container {
    display: grid;

    grid-template-areas:
        "header"
        "main"
        "footer";

    grid-template-rows: 91px 1fr auto;
    grid-gap: 0;

    height: calc(100vh - 20px);
}

/******* Header *******/

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo__img {
    width: 90px;
    margin-top: 8px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    width: 210px;
    font-size: 0.8em;
}

.nav__link:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px var(--white);
}

/******* Main *******/

/* Buttons */

.button {
    text-align: center;
    margin: 30px auto;
    display: block;
    padding: 20px 45px;
    border-radius: 50px;
    background: linear-gradient(to right, var(--cyan), var(--blue));
    font-size: 0.9em;
    font-weight: 700;
}

.button:hover {
    background: linear-gradient(to right, var(--cyan-hover), var(--blue-hover));
}

/* Intro */

.intro {
    margin-top: 20px;
    margin-bottom: 100px;
}

.intro__heading {
    padding: 20px;
    text-align: center;
    line-height: 1.6em;
}

.intro__description {
    padding: 0 30px;
    text-align: center;
    line-height: 1.5em;
}

.intro__link {
    width: 240px;
}

/* Benefits */

.benefits {
    margin-bottom: 100px;
}

.benefits__card {
    padding: 25px;
    text-align: center;
}

.benefits__icon-box {
    margin-bottom: 30px;
}

.benefits__icon {
    display: block;
    margin: 0 auto;
    width: 60px;
}

.benefits__feature {
    font-size: 1.1em;
}

.benefits__description {
    font-size: 0.9em;
    line-height: 1.6em;
}

/* Objective */

.objective {
    margin-bottom: 150px;
}

.objective__img-box {
    margin-bottom: 50px;
}

.objective__heading {
    padding: 0 25px;
}

.objective__description {
    padding: 0 25px;
    font-size: 0.9em;
    line-height: 1.6em;
}

.objective__demo {
    display: inline;
    margin: 0 25px;
    font-size: 0.9em;
    color: var(--cyan);
    border-bottom: 1px solid var(--cyan);
    padding-bottom: 4px;
}

.objective__demo:hover {
    color: var(--white);
    border-bottom: 1px solid var(--white);
}


/* Feedback */

.feedback {
    padding-top: 9px;
    background-image: url('../images/bg-quotes.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 40px;
    margin-bottom: 150px;
}

.feedback__card {
    background-color: var(--dark-blue-feedback);
    padding: 30px 20px;
    border-radius: 3px;
    font-size: 0.8em;
    line-height: 1.6em;
    
}

.feedback__comment {
    margin: 0;
}

.feedback__comment {
    margin-bottom: 20px;
}

.author-flex-box {
    display: flex;
    align-items: center;
}

.author__img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.author__role {
    font-size: 0.7em;
}

/* Subscribe */

.subscribe {
    background-color: var(--dark-blue-feedback);
    margin: 20px 20px 80px;
    padding: 30px 20px 15px 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.subscribe__heading {
    font-size: 1.2em;
    font-weight: 700;
}

.subscribe__description {
    line-height: 1.6em;
    margin-bottom: 30px;
}

.subscribe__input {
    width: 290px;
    padding: 20px 0 20px 30px;
    border-radius: 50px;
    border: none;
    font-size: 0.8em;
}

.subscribe__input::placeholder {
    color: var(--grey);
}

.subscribe__btn {
    width: 290px;
    margin-top: 25px;
}

/* Illustrations */

.illustration-svg {
    width: 100vw;
    max-width: 500px;
    display: block;
    margin: 0 auto;
    padding: 0 30px;
}

/******* Footer *******/

.footer {
    padding: 0 25px;
    background-color: var(--dark-blue-footer);

    padding-top: 280px;
    margin-top: -280px;
}

.footer__logo-div {
    margin-left: 20px;
    margin-bottom: 40px;
}

.footer__logo {
    width: 170px;
}

.address {
    font-style: normal;
    line-height: 1.5em;
    margin-bottom: 70px;
}

.address__list {
    padding-left: 0;
}

.address__item {
    margin-bottom: 15px;
}

.address__logo {
    fill: var(--white);
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.address__item:first-child {
    display: flex;
}

.address__location {
    height: 35px;
    top: 0;
}

.address-text {
    padding-left: 10px;
}

.footer__list {
    padding-left: 0;
    line-height: 2.3em;
    margin-bottom: 30px;
}

.list__link:hover {
    font-weight: 700;
}

.footer__social {
    display: flex;
    margin: 70px auto 40px;
    width: 150px;
    justify-content: space-between;
}

.social__icon {
    padding: 7px;
    border: 1px solid var(--white);
    border-radius: 50%;
    fill: var(--white);
}

.social__icon:hover {
    fill: var(--cyan);
    border: 1px solid var(--cyan);
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
